{% extends "base.html" %}
{% block title %}Books{% endblock %}

{% block content %}
<br><br>
<div class="card p-4 p-md-5 mb-4 rounded text-bg-dark">
  <h1>Book Club Announcement - {{date}}</h1>
  <p class="lead my-3">{{ announcement }}</p>
</div>
<br>
{% if currentBooks %}
<h1 align="center">Currently Reading</h1>
<div class="table-responsive">
<table class="table lowz">
    <thead class="thead-dark">
      <tr>
        <th class="col-1" scope="col">Like</th>
        <th class="col-2" scope="col">Cover</th>
        <th class="col-3" scope="col">Title</th>
        <th class="col-2" scope="col">Author</th>
        <th class="col-1" scope="col">Pubished Year</th>
        <th class="col-1" scope="col">ISBN</th>
      </tr>
    </thead>
    <tbody>
        {% for book in books %}
        {% if book.bookTitle[0]=='_' %}
        <tr class="align-items-center">
            {% if user in book.likedUsers %}
            <td class="col-1">
                <button type="button" class="btn btn-outline-danger" onclick="likeBook('{{ book.id }}', false)">{{ book.likes }} &hearts;</button>
            </td>
            {% else %}
            <td class="col-1">
                <button type="button" class="btn btn-outline-secondary" onclick="likeBook('{{ book.id }}', true)">{{ book.likes }} &hearts;</button>
            </td>
            {% endif %}

            <td class="col-2">
                <img src="{{ get_book_cover(book.cover_id) }}" width="40" height="auto"/>
            </td>
            <th class="col-3" scope="row">{{ book.bookTitle[1:] }}</th>
            <td class="col-2">{{ book.author[1:-1].replace("\"", "")}}</td>
            <td class="col-1">{{ book.publishYear }}</td>
            <td class="col-1">{{ book.isbn }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<br>
<h1 align="center">Future Books</h1>
<div class="table-responsive">
<table class="table lowz">
    {% if not currentBooks %}
        <thead class="thead-dark">
          <tr>
            <th class="col-1" scope="col">Like</th>
            <th class="col-2" scope="col">Cover</th>
            <th class="col-3" scope="col">Title</th>
            <th class="col-2" scope="col">Author</th>
            <th class="col-1" scope="col">Pubished Year</th>
            <th class="col-1" scope="col">ISBN</th>
          </tr>
        </thead>
    {% endif %}
    <tbody>
        {% for book in books %}
        {% if not book.bookTitle[0]=='.' and not book.bookTitle[0]=='_'%}
        <tr class="align-items-center">
            {% if user in book.likedUsers %}
            <td class="col-1"><button type="button" class="btn btn-outline-danger" onclick="likeBook('{{ book.id }}', false)">{{ book.likes }} &hearts;</button></td>
            {% else %}
            <td class="col-1"><button type="button" class="btn btn-outline-secondary" onclick="likeBook('{{ book.id }}', true)">{{ book.likes }} &hearts;</button></td>
            {% endif %}

            <td class="col-2"><img src="{{ get_book_cover(book.cover_id) }}" width="40" height="auto"/></td>
            <th class="col-3" scope="row">{{ book.bookTitle }}</th>
            <td class="col-2">{{ book.author[1:-1].replace("\"", "")}}</td>
            <td class="col-1">{{ book.publishYear }}</td>
            <td class="col-1">{{ book.isbn }}</td>
        </tr>
        {% endif%}
        {% endfor %}
    </tbody>
  </table>
</div>
  <br>
<div class="fixed">
<a href="/search-book">
    <button class="btn btn-outline-secondary whitebg">Add A Book</button>
</a>
</div>

{% if pastBooks %}
<h1 align="center">Past Books</h1>
<div class="table-responsive">
<table class="table lowz">
    <tbody>
        {% for book in books %}
        {% if book.bookTitle[0]=='.' %}
        <tr class="align-items-center">
            <td class="col-1"> </td>
            <td class="col-2"><img src="{{ get_book_cover(book.cover_id) }}" width="40" height="auto"/></td>
            <th class="col-3" scope="row">{{ book.bookTitle[1:] }}</th>
            <td class="col-2">{{ book.author[1:-1].replace("\"", "")}}</td>
            <td class="col-1">{{ book.publishYear }}</td>
            <td class="col-1">{{ book.isbn }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<br><br>
{% endblock %}