{% extends "base.html" %}
{% block content %}
    <form method='POST'>
        <h3 align='center'>{% block pageTitle %}{% endblock %}</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
            />
        </div>
        {% block extraContent %}{% endblock %}
        <br>
        <br>
        <button type="submit" class="btn btn-primary">{% block submitButton %}{% endblock %}</button>
    </form>
{% endblock %}