{% extends "base.html" %}
{% block title %}Lateness Tracker{% endblock %}

{% block content %}
<br><br>
<div class="card p-4 p-md-5 mb-4 rounded text-bg-dark">
  <h1>The Club</h1>
  <p class="lead my-3">There are {{days_remaining}} days and {{seconds_remaining}} seconds remaining until the top two people will have to .... At that point, everyone's score will be halved, except for the top two people whose scores will be reset to 0.</p>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-auto">
        <h1 id="time" class="m-4"> </h1>
    </div>
</div>

{% if (curr_time.date() in dates and curr_time.hour == 8) %}
<div class='row text-center justify-content-center'>
    {% for user in tracking %}
    <div class='col-5 lateness-box p-2 m-2'>
        <h2 class="m-3">{{ user.name }}</h2>
        <div class="m-3">
            {% if (user.lastTime == None or user.lastTime.date() != curr_time.date()) %}
            <form method="POST">
                <button type="submit" onClick="markHere('{{ user.id }}', true)" class="btn btn-primary"> Here </button> 
            </form>
            {% else %}
            <form method="POST">
                <button type="submit" onClick="markHere('{{ user.id }}', false)" class="btn btn-outline-secondary"> Arrived!
                    {% if user.lastTime.minute < 10 %}
                        {{ user.lastTime.hour }}:0{{ user.lastTime.minute }}
                    {% else %}
                        {{ user.lastTime.hour }}:{{ user.lastTime.minute }}
                    {% endif %}
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<hr class="m-5"/>

{% endif %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Minutes Late</th>
      </tr>
    </thead>
    <tbody>
        {% for user in ordered_tracking %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.lateTotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

<br/>

<p class="small mb-5">Welcome to the club. Today, we present the most fundamental chickens of them all. That's right, E equals em see too.</p>

{% endblock %}