{% extends "base.html" %}
{% block title %}Movies{% endblock %}

{% block content %}
<br><br>
<div class="card p-4 p-md-5 mb-4 rounded text-bg-dark">
  <h1>Welcome to Movie Nights</h1>
  <p class="lead my-3"></p>
</div>
<br>
<h1 align="center">Future Movies & TV Shows</h1>
<div class="table-responsive">
<table class="table lowz">
        <thead class="thead-dark">
          <tr>
            <th class="col-1" scope="col">Like</th>
            <th class="col-2" scope="col">Poster</th>
            <th class="col-1" scope="col">Title</th>
            <th class="col-1" scope="col">Year</th>
            <th class="col-1" scope="col">Runtime</th>
            <th class="col-1" scope="col">Rotten Tomtoes Rating</th>
            <th class="col-4" scope="col">Plot</th>
          </tr>
        </thead>
    <tbody>
        {% for movie in movies %}
        {% if not movie.title[0]=='.' and not movie.title[0]=='_'%}
        <tr class="align-items-center">
            {% if user in movie.likedUsers %}
            <td class="col-1"><button type="button" class="btn btn-outline-danger" onclick="likeMovie('{{ movie.id }}', false)">{{ movie.likes }} &hearts;</button></td>
            {% else %}
            <td class="col-1"><button type="button" class="btn btn-outline-secondary" onclick="likeMovie('{{ movie.id }}', true)">{{ movie.likes }} &hearts;</button></td>
            {% endif %}

            <td class="col-2"><img src="{{ movie.posterUrl }}" width="100" height="auto"/></td>
            <th class="col-1" scope="row">{{ movie.title }}</th>
            <td class="col-1">{{ movie.year }}</td>
            <td class="col-1">{{ movie.runtime }}</td>
            <td class="col-1">{{ movie.rating }}</td>
            <td class="col-4">{{ movie.plot }}</td>
        </tr>
        {% endif%}
        {% endfor %}
    </tbody>
  </table>
</div>
  <br>
<div class="fixed">
<a href="/search-movie">
    <button class="btn btn-outline-secondary whitebg">Add A Movie</button>
</a>
</div>

{% if pastMovies %}
<h1 align="center">Past Movies</h1>
<div class="table-responsive">
<table class="table lowz">
   <tbody>
        {% for movie in movies %}
        {% if movie.title[0]=='.' %}
        <tr class="align-items-center">
            {% if user in movie.likedUsers %}
            <td class="col-1"><button type="button" class="btn btn-outline-danger" onclick="likeMovie('{{ movie.id }}', false)">{{ movie.likes }} &hearts;</button></td>
            {% else %}
            <td class="col-1"><button type="button" class="btn btn-outline-secondary" onclick="likeMovie('{{ movie.id }}', true)">{{ movie.likes }} &hearts;</button></td>
            {% endif %}

            <td class="col-2"><img src="{{ movie.posterUrl }}" width="100" height="auto"/></td>
            <th class="col-1" scope="row">{{ movie.title[1:] }}</th>
            <td class="col-1">{{ movie.year }}</td>
            <td class="col-1">{{ movie.runtime }}</td>
            <td class="col-1">{{ movie.rating }}</td>
            <td class="col-4">{{ movie.plot }}</td>
        </tr>
        {% endif%}
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<br><br>
{% endblock %}