{% extends "emailPasswordForm.html" %}
{% block title %}Reset{% endblock %}
{% block pageTitle %}Reset your password{% endblock %}
{% block extraContent %}
    <div class="form-group">
        <label for="password">Confirm password</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
    </div>
{% endblock %}
{% block submitButton %}Reset Password{% endblock %}